<div class="form-auth-container">
    <span class="error" *ngIf="error">{{ error }}</span>

    <button class="btn-big facebook"
            (click)="loginFacebook()">
        Login With Facebook
    </button>

    <br>

    <button class="btn-big twitter"
            (click)="loginTwitter()">
        Login With Twitter
    </button>

    <br>

    <button class="btn-big google"
            (click)="loginGoogle()">
        Login With Google
    </button>

    <br>

    <!--<button (click)="loginGithub()"
            id="github">
        Login With GitHub
    </button>-->

    <button class="btn-big"
            routerLink="/login-email"
            id="email">
        Email
    </button>

    <a routerLink="/signup"
       routerLinkActive="active"
       class="alc">
        No account? <strong>Create one here</strong>
    </a>
    <a routerLink="/reset-password"
       routerLinkActive="active"
       class="alc">
        Forgot password?
    </a>
</div>
