<div class="form-container" id="toolbar">
    <header [@fallIn]="state">
        <button (click)="logout()"
                class="basic-btn">
            Logout
        </button>
    </header>

    <div id="page" [@moveInLeft]="state">
        <!--<h2>Hey {{ name }}!</h2>

        <h4>your email is {{email}}</h4>
        <img src="../../../assets/images/filler.png"/>-->

        <button (click)="newGroup()"
                class="basic-btn">
            Add new group
        </button>

        <button (click)="newWord()"
                class="basic-btn">
            Add new group
        </button>

    </div>

</div>
