<div class="form-auth-container">
    <div class="toolbar" [@fallIn]="state">
        <a (click)="logout()"
           class="button warning large">
            Logout
        </a>
    </div>

    <div id="page" [@moveInLeft]="state">

        <div class="expanded button-group">
            <a routerLink="/group"  class="button large">Add new group</a>
            <a routerLink="/word"  class="button large">Add new word</a>
        </div>

        <div class="expanded button-group">
            <a routerLink="/link-credential"  class="button large">Link social credentials</a>
        </div>
    </div>

    <div class="welcome">
        <h5>Welcome {{ name }}! </h5>
        <small>{{email}}</small>
    </div>

</div>
