<div class="container">
    <div class="toolbar" [@fallIn]="state">
        <button (click)="logout()"
                class="btn-big basic-btn">
            Logout
        </button>
    </div>

    <div id="page" [@moveInLeft]="state">
        <h2>Hey {{ name }}!</h2>

        <h4>your email is {{email}}</h4>

        <button (click)="newGroup()"
                class="btn-big basic-btn">
            Add new group
        </button>

        <button (click)="newWord()"
                class="btn-big basic-btn">
            Add new word
        </button>

    </div>

</div>
