<div class="form-auth-container">
    <a routerLink="/login" id="goback">Go back</a>

    <h2>Custom Login</h2>

    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

    <form #formData="ngForm"
          (ngSubmit)="onSubmit(formData)">

        <input type="email"
               email
               placeholder="Email address.."
               [(ngModel)]="user.email"
               name="email"
               class="txt"
               required
               #iEmail>

        <input type="password"
               placeholder="Password"
               [(ngModel)]="user.password"
               name="password"
               class="txt"
               required
               #iPassoword
               id="iPassoword">

        <button type="submit"
                [disabled]="!formData.valid"
                class="btn-big basic-btn">
            Log in
        </button>

        <a routerLink="/signup" class="alc">Don't have an account?</a>

        <a routerLink="/reset-password"
           routerLinkActive="active"
           class="alc">
            Forgot password?
        </a>
    </form>
</div>
