<div class="form-auth-container">
    <a routerLink="/login" id="goback">Go back</a>

    <h2>Reset your password</h2>

    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

    <form #formData="ngForm" (ngSubmit)="onSubmit(formData)">
        <input type="email"
               email
               placeholder="Email address.."
               name="email"
               [(ngModel)]="user.email"
               class="txt"
               required
               #iPassoword>

        <button type="submit"
                [disabled]="!formData.valid"
                class="btn-big basic-btn">
            Reset
        </button>

    </form>
</div>
