<div class="form-auth-container">
    <div class="toolbar" [@fallIn]="state">
        <a routerLink="/home"
           class="button warning large">
            Home
        </a>
    </div>

    <div id="page" [@moveInLeft]="state">

        <button class="btn-big facebook"
                (click)="linkFacebook()">
            Link Facebook
        </button>

        <br>

        <button class="btn-big twitter"
                (click)="linkTwitter()">
            Link Twitter
        </button>

        <br>

        <button class="btn-big google"
                (click)="linkGoogle()">
            Link Google
        </button>
    </div>
</div>
