<div class="container">
    <div class="toolbar" [@fallIn]="state">
        <button routerLink="/home"
                class="btn-big basic-btn">
            Home
        </button>
    </div>

    <div id="page" [@moveInLeft]="state">
        <form #formData="ngForm"
              (ngSubmit)="onSubmit(formData)">
            <input placeholder="Group name..."
                   name="name"
                   ngModel
                   class="txt"
                   required
                   maxlength="50"
                   autofocus>

            <button type="submit"
                    [disabled]="!formData.valid"
                    class="btn-big basic-btn">
                Add
            </button>
        </form>

        <ul>
            <li *ngFor="let item of firebasedbService.dictionary | async">
                {{ item.name }}
            </li>
        </ul>
    </div>

</div>
