@charset "UTF-8";

html {
    font-family: 'Roboto' !important;
}

body {
    background-color: #E2E4E6;
    font-family: 'Roboto' !important;
}

h1, h2, h3, h4, h5, h6, button, input, optgroup, select, textarea {
    font-family: 'Roboto' !important;
}

.container {
    padding: 0;
    background-color: #FFF;
}

.spacer {
    flex: 1 1 auto;
}

.form-auth-container {
    background: white;
    padding: 3.5em;
    width: 500px;
    position: fixed;
    left: 50%;
    margin-left: -250px;
}

form {
    width: 100%;
}

.btn-big {
    padding: 1.2em;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 1.3em;
}

.basic-btn {
    background: #3B8598;
    color: white;
}

.basic-btn:disabled {
    background: #afafaf;
    color: white;
}

input.txt {
    background: #fff !important;
    padding: 1.3em 1em;
    font-size: 1.3em;
    border: 1px solid #BBBBBB;
}

.alc {
    text-align: center;
    display: block;
    margin: 15px 0;
}

.error {
    background: #f1f0ef;
    padding: 1em;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

#goback {
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8em;
    color: #3B8598;
}

#goback span {
    font-size: 1em;
}

.loading {
    width: 30px;
    height: 30px;
    border: 5px solid #ccc;
    position: fixed;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    border-radius: 50%;
}

.loading:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    background: #E2E4E6;
    top: 10px;
    left: -5px;
    animation: spin 1.2s infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.toolbar {
    background: #3B8598;
    width: 100%;
    display: block;

    a {
        margin: 0;
    }
}

li {
    font-size: 1.3em;
}

.button {
    margin: 0;
}

.facebook {
    background: #3B5998 url('./assets/images/facebook.svg') no-repeat 14px 10px;
    background-size: 47px;
    color: #fff;
}

.google {
    border: 1px solid #95989A;
    background: #fff url('./assets/images/google.svg') no-repeat 25px;
    background-size: 25px;
}

.twitter {
    background: #55acee url('./assets/images/twitter.svg') no-repeat 14px 10px;
    background-size: 47px;
    color: #fff;
}

.github {
    border: 1px solid #95989A;
    background: #444 url('./assets/images/github.svg') no-repeat 25px;
    background-size: 25px;
    color: #FFF;
}

.form-auth-container {
    padding: 3.5em;
}
