<div class="form-auth-container">
    <div class="toolbar" [@fallIn]="state">
        <a routerLink="/home"
           class="button warning large">
            Home
        </a>
    </div>

    <div id="page" [@moveInLeft]="state"
    >
        <form #formData="ngForm"
              (ngSubmit)="onSubmit(formData)">
            <div class="row">
                <div class="medium-12 columns">
                    <select [(ngModel)]="entity.dictionaryId"
                            name="dictionaryId"
                            (change)="setWordList($event.currentTarget.value)"
                            required
                            class="input-group-field"
                            [disabled]="!!entity.$key"
                            #iGroup>
                        <option *ngFor="let item of firebasedbService.dictionary | async"
                                value="{{item.$key}}">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <input type="text"
                           placeholder="Word"
                           [(ngModel)]="entity.word"
                           name="word"
                           required
                           #iWord>
                </div>
                <div class="medium-6 columns">
                    <input type="text"
                           placeholder="Translation"
                           [(ngModel)]="entity.translate"
                           name="translate"
                           required>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <textarea placeholder="Description"
                              [(ngModel)]="entity.description"
                              name="description">
                    </textarea>
                </div>
            </div>

            <div class="row">
                <div class="medium-12 columns">
                    <div class="expanded button-group">
                        <button type="submit"
                                [disabled]="!formData.valid"
                                class="button">
                            <span *ngIf="!entity.$key">Add</span>
                            <span *ngIf="!!entity.$key">Save</span>
                        </button>
                        <button (click)="newWord()"
                                class="button warning"
                                [disabled]="!entity.$key">
                            New
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <table>
            <tr>
                <th>Word</th>
                <th>Translation</th>
                <th>Description</th>
                <td style="width: 60px">
                </td>
            </tr>

            <tr *ngFor="let item of wordList | async">
                <td><span [innerText]="item.word"></span></td>
                <td><span [innerText]="item.translate"></span></td>
                <td><span [innerText]="item.description"></span></td>
                <td style="width: 60px; padding: 0;">
                    <span>
                        <button class="button alert tiny"
                                (click)="remove(item)"
                                title="Remove word">
                        X
                        </button>
                        <button class="button tiny"
                                (click)="edit(item)"
                                title="Edit word">
                        E
                        </button>
                    </span>
                </td>
            </tr>
        </table>
    </div>

</div>
